.rating {

    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    height: 70px;
    


    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 13px;
        height: 43px;

        @include media (xs) {
            flex-direction: row;
            align-items: center;
        }

    }

    &__subtitle {
        @include font (14px, 300, 20px, $textColor);

        @include media (xs) {
            margin-right: 14px;
        }
    }

    &__span {
        @include font (14px, 500, 20px, $textColor);
    }
}

.rating-area {
    margin-top: 0px;
    overflow: hidden;
    width: 115px;

    &:not(:checked)>input {
        display: none;
    }

    &:not(:checked)>label {
        float: right;
        width: 23px;
        padding: 0;
        cursor: pointer;
        font-size: 17px;
        line-height: 18px;
        color: $assetsColor;
    }

    &:not(:checked)>label:before {
        content: '★';
    }

    &>input:checked~label {
        color: $assetsColor;
    }

    &:not(:checked)>label:hover,
    &:not(:checked)>label:hover~label {
        color: $assetsColor;
    }

    &>input:checked+label:hover,
    &>input:checked+label:hover~label,
    &>input:checked~label:hover,
    &>input:checked~label:hover~label,
    &>label:hover~input:checked~label {
        color: $assetsColor;
    }

    &>label:active {
        position: relative;
    }
}