.header {
    font-family: 'Montserrat', sans-serif;

    @include media (sm) {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    }
    @include media (md) {
        box-shadow:none;
    }

    .container{
        @extend %container;
    }
    

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        @include media (sm) {
            height: 100px;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 45px;

        @include media (xs) {
            margin-right: 35px;
        }

        @include media (sm) {
            height: 23px;
        }
    }

    &__phone-city {
        @include font (14px, 400, 17px, $linkColor);

        @include media (xs) {
            display: none;
        }
    }

    &__phone {
        display: none;

        @include media (xs) {
            display: block;
        }

        span {
            @include font (14px, 400, 17px, $textColorLight);
        }
    }

    &__phone-link {
        @include font (14px, 400, 17px, $textColor);
    }

    &__user {
        @include media (md) {
            display: none;
        }
    }
}