.gellery {
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0 20px 0;

    .container {
        @extend %container;
    }
    @include media (sm) {
        border-bottom: 1px solid $secondaryColor;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__title {
        max-width: 270px;
        text-align: center;
        @include font (26px, 400, 31px, $textColor);

        @include media (xs) {
            align-self: flex-start;
            max-width: 280px;
        }

    }

    &__list {
        margin-top: 37px;
        display: grid;
        grid-gap: 10px;
        grid-auto-flow: column;
        overflow-x: scroll;
        max-width: 100%;
        list-style: none;

        @include media (sm) {
            grid-auto-flow: row;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
        }

        @include media (md) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;

        }

    }

    &__img {
        width: 277px;
    }

    &__item {
        max-width: 277px;
    }

    &__btn {
        display: none;
        position: relative;
        padding: 0;
        border: none;
        cursor: pointer;
        margin-top: 40px;
        background-color: transparent;
        @include font (17px, 500, 24px, $linkColor);

        &::before {
            content: '';
            top: 10px;
            left: -20px;
            width: 11px;
            height: 9px;
            position: absolute;
            background: url(../images/galleries/arrow.png) no-repeat;
        }

        &::after {
            content: '';
            top: 10px;
            right: -20px;
            width: 11px;
            height: 9px;
            position: absolute;
            background: url(../images/galleries/arrow.png) no-repeat;
        }

        @include media (sm) {
            display: block;
        }
    }

}