.main {

    font-family: 'Montserrat', sans-serif;
    background: url(../images/main/bg-main.jpg) no-repeat;
    background-size: cover;
    background-position: 62% 0;
    @include media (sm) {
        background-position: center;
    }

    @extend %container;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 655px;

        @include media (md) {
            height: 840px;
        }
    }

    &__title {
        @include font (32px, 600, 39px, $primaryColor);
        max-width: 247px;
        margin-top: -6px;

        @include media (sm) {
            max-width: 596px;
            @include font (40px, 600, 49px, $primaryColor);
        }
        @include media (md) {
            max-width: 887px;
            width: 100%;
        }

        span {
            @include font (32px, 600, 39px, $assetsColor);
        }
    }

    &__price-box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 200px;
        height: 86px;
        background-color: $assetsColor;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

        &::before {
            content: '';
            width: 26px;
            height: 8px;
            bottom: -8px;
            right: 70px;
            position: absolute;
            background: url(../images/main/icon-f.png);
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__price-label {
        @include font (18px, 100, 27px, $primaryColor);

    }

    &__price {
        @include font (30px, 800, 45px, $primaryColor);
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 275px;
        height: 68px;
        border: 2px solid $primaryColor;
        background: transparent;
        margin-top: 23px;
        @include font(16px, 900, 20px, $primaryColor);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

}